
<footer id="footer">
	<div class="content-inner">
		<div id="top-footer">
			<div id="contact-footer">
				<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{homepage}', colPos: '100'}" />
			</div>
			<div id="social-network-footer">
				<div class="image">
					<a href="https://www.facebook.com/cfapharmacie.fr/" target="_blank" title="Facebook"><img src="fileadmin/images/logo-facebook.svg" height="65" alt="Facebook"/></a>
					<a href="https://www.instagram.com/cfapharmacie.bdr/" target="_blank" title="Instagram"><img src="fileadmin/images/logo-instagram.svg" height="65" alt="Instagram"/></a>
					<a href="https://www.youtube.com/channel/UCI9aGrg4Z-MM_e-RFi_Wz5w" target="_blank" title="Youtube"><img src="fileadmin/images/logo-youtube.svg" height="65" alt="Youtube"/></a>
				</div>
			</div>
			<div id="logo-footer">
				<img src="fileadmin/images/logo-ifmpharma.svg" width="287" alt="IFMPHARMA"/>
			</div>
		</div>
		<div id="bottom-footer">
			<p>
			Copyright 2020 - CFA Pharmacie - 
			<f:link.page pageUid="81">CGU</f:link.page> -
			<f:link.page pageUid="82">CGV</f:link.page> -
			<f:link.page pageUid="37">Mentions légales</f:link.page>
			- <a href="https://www.pimentrouge.fr/" target="_blanc" rel="nofollow" title="Réalisation PimentRouge.fr">Réalisation PimentRouge.fr</a>
		</div>
	</div>
</footer>

