.cookie-message {
  position:fixed;
  bottom:0;left:0;right:0;
  padding:10px 15px 10px 15px;
  background:#E30045;
  box-shadow:0px 0px 3px #ccc;
  z-index: 999999999999;
}
.cookie-message .cookiebar-close {
  position:absolute;
  bottom:10px; right:20px;
  cursor:pointer;
}
.cookie-message p, .cookie-message a {
  color:#fff;
  font:400 12px Arial;
  margin:0em 0;
  text-align: center;
}
.cookie-message a {
	font-weight: 700;
	text-decoration: underline;
}
.blue {
  border-bottom:1px solid #0E83AE;
  background-color:#0990c3;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0e83ae), color-stop(50%, #0990c3), color-stop(100%, #0e9dd2));
  background: -webkit-linear-gradient(#0e83ae, #0990c3, #0e9dd2);
  background: -moz-linear-gradient(#0e83ae, #0990c3, #0e9dd2);
  background: -o-linear-gradient(#0e83ae, #0990c3, #0e9dd2);
  background: -ms-linear-gradient(#0e83ae, #0990c3, #0e9dd2);
  background: linear-gradient(#0e83ae, #0990c3, #0e9dd2);
}
.blue p, .blue a { color:#fff; }