/**** RESPONSIVE STYLE >320px ****/
/**** END RESPONSIVE STYLE >700px ****/
@media screen and (min-width: 320px) {
  div {
    font-size: 14px; }
  a {
    font-size: 14px; }
  p {
    font-size: 14px; }
  span {
    font-size: 14px; }
  td {
    font-size: 14px; }
  th {
    font-size: 14px; }
  caption {
    font-size: 14px; }
  li {
    font-size: 14px; }
  h1 {
    font-size: 14px; }
  h2 {
    font-size: 14px; }
  h3 {
    font-size: 14px; }
  h4 {
    font-size: 14px; }
  legend {
    font-size: 14px; }
  input {
    font-size: 14px; }
  label {
    font-size: 14px; }
  textarea {
    font-size: 14px; }
  section {
    font-size: 14px; }
  main {
    font-size: 14px; }
  aside {
    font-size: 14px; }
  article {
    font-size: 14px; }
  ul {
    font-size: 14px; }
  .bt-blue {
    font-size: 14px !important; }
  .bt-black {
    font-size: 14px !important; }
  .bt-yellow {
    font-size: 14px !important; }
  body {
    padding-top: 0;
    overflow-x: hidden; }
  #header {
    position: relative; }
    #header .content-inner {
      display: block;
      padding: 0 20px; }
      #header #top-header #logo {
        max-width: 100%;
        background-size: 100% 50px;
        height: 125px;
        height: auto;
        background: none;
        text-align: left;
        flex: 1; }
        #header #top-header #logo img {
          width: auto;
          height: 75px; }
      #header #top-header #right-header {
        margin-right: 50px; }
        #header #top-header #right-header #contact-header {
          display: none; }
        #header #top-header #right-header #social-network {
          display: none; }
        #header #top-header #right-header #button-header {
          /* display: none; */ }
          #header #top-header #right-header #button-header p {
            display: inline-block; }
          #header #top-header #right-header #button-header a.bt-green {
            display: none; }
          #header #top-header #right-header #button-header a.bt-pink {
            font-size: 12px;
            margin: 0; }
  #top-home .row {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0; }
    #top-home .row .column {
      flex: none;
      width: 100%;
      height: 200px;
      /* overflow: hidden; */
      position: relative; }
      #top-home .row .column .image {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        #top-home .row .column:first-child .menu .link > a span {
          /* background-size: 100%; */
          background-size: auto 50px; }
  #top-home .menu .link > a {
    top: calc(50% - 60px);
    width: 170px;
    height: 120px;
    background-size: 100% 100% !important;
    left: -webkit-calc(50% - 85px);
    left: calc(50% - 85px); }
    #top-home .menu .link > a span {
      font-size: 14px;
      padding-top: 60px; }
  #top-home .menu .link:hover .submenu {
    display: none; }
  #top-home .menu .submenu {
    display: none;
    visibility: visible;
    opacity: 1;
    /* width: 100%; */
    padding: 10px 0;
    overflow: auto;
    min-height: 0; }
    #top-home .menu .submenu > ul {
      width: 100%; }
      #top-home .menu .submenu > ul > li {
        width: 100%;
        margin: 0;
        padding: 0; }
        #top-home .menu .submenu > ul > li a {
          font-size: 14px; }
        #top-home .menu .submenu > ul > li ul {
          display: none;
          position: static;
          padding-left: 20px;
          visibility: visible;
          opacity: 1;
          width: 100%; }
          #top-home .menu .submenu > ul > li ul li {
            margin: 5px 0; }
            #top-home .menu .submenu > ul > li ul li a {
              font-size: 12px; }
  #top-home #title-home {
    position: static; }
    #top-home #title-home h1 {
      font-size: 18px; }
    #top-home #title-home h2, #top-home #title-home p {
      font-size: 18px; }
  #sidebar-menu {
    position: static; }
    #main-menu .mobile-menu {
      display: block;
      height: 100%;
      cursor: pointer;
      position: absolute;
      top: 12px;
      right: 10px;
      width: 50px;
      height: 50px;
      z-index: 10; }
      #main-menu .mobile-menu:after {
        content: "";
        background-color: #D70846;
        height: 2px;
        left: 50%;
        left: -webkit-calc(50% - 15px);
        left: calc(50% - 15px);
        top: 50%;
        top: -webkit-calc(50% - 1px);
        top: calc(50% - 1px);
        position: absolute;
        width: 30px;
        -webkit-transition: all 0.5s 0s ease-in-out;
        -moz-transition: all 0.5s 0s ease-in-out;
        transition: all 0.5s 0s ease-in-out; }
      #main-menu .mobile-menu span {
        display: block;
        text-indent: -9999px;
        width: 30px;
        height: 2px;
        top: 50%;
        top: -webkit-calc(50% - 1px);
        top: calc(50% - 1px);
        margin: 0 auto;
        position: relative; }
        #main-menu .mobile-menu span:before {
          content: "";
          position: absolute;
          top: -8px;
          left: 50%;
          left: -webkit-calc(50% - 15px);
          left: calc(50% - 15px);
          height: 2px;
          width: 30px;
          background-color: #D70846;
          transform-origin: center center;
          -webkit-transition: all 0.5s 0s ease-in-out;
          -moz-transition: all 0.5s 0s ease-in-out;
          transition: all 0.5s 0s ease-in-out; }
        #main-menu .mobile-menu span:after {
          content: "";
          position: absolute;
          top: -8px;
          left: 50%;
          left: -webkit-calc(50% - 15px);
          left: calc(50% - 15px);
          height: 2px;
          width: 30px;
          background-color: #D70846;
          transform-origin: center center;
          -webkit-transition: all 0.5s 0s ease-in-out;
          -moz-transition: all 0.5s 0s ease-in-out;
          transition: all 0.5s 0s ease-in-out;
          width: 20px;
          bottom: -8px;
          top: auto; }
    #main-menu nav {
      display: none;
      position: absolute;
      top: 75px;
      left: 0;
      width: 100%;
      z-index: 50;
      background-color: #fff; }
      #main-menu nav > ul {
        margin: 0; }
        #main-menu nav > ul > li {
          height: auto;
          margin: 0; }
          #main-menu nav > ul > li .content > a {
            width: 100%;
            border-top: 1px solid rgba(112, 112, 112, 0.2); }
            #main-menu nav > ul > li .content > a .text {
              -webkit-transform: translate(0);
              -moz-transform: translate(0);
              -ms-transform: translate(0);
              transform: translate(0); }
          #main-menu nav > ul > li.submenu .content > a .text {
            display: block; }
        #main-menu nav > ul > li.submenu .content .submenu-menu {
          display: none;
          position: static;
          visibility: visible;
          transform: none;
          transition: none;
          width: 100%; }
  #main-menu.active .mobile-menu:after {
    width: 0;
    opacity: 0; }
    #main-menu.active .mobile-menu span:before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 0; }
    #main-menu.active .mobile-menu span:after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      bottom: 0;
      width: 30px; }
  .content-inner {
    padding: 0 20px; }
  #wrap-content {
    padding: 20px 0 0 0; }
    #wrap-content .content-inner {
      padding: 0 20px; }
      #wrap-content .block-home .title {
        font-size: 20px; }
    #wrap-content .list-news .item {
      width: 100%;
      padding: 10px; }
    #wrap-content #section1 {
      margin-bottom: 20px; }
      #wrap-content #section1 .text-right span {
        font-size: 14px !important; }
    #wrap-content #section2 .row > div .subheader {
      padding: 15px 20px 15px 20px; }
      #wrap-content #section2 .row > div .subheader p {
        font-size: 16px; }
    #wrap-content #section2 .row > div h2 {
      font-size: 16px;
      margin: 0 0 10px 0; }
    #wrap-content #section2 .row > div p {
      font-size: 14px; }
    #wrap-content #section2 .row > div .ce-bodytext {
      padding: 0 0 20px 0; }
    #wrap-content #section3 {
      margin: 20px 0 0 0;
      padding: 20px 0; }
      #wrap-content #section3 p {
        font-size: 14px; }
        #wrap-content #section3 p span {
          font-size: 20px; }
      #wrap-content #section3 .title {
        font-size: 20px; }
        #wrap-content #section3 .ce-bodytext > div {
          background-size: 60px;
          padding-left: 70px;
          margin: 20px 0; }
    #wrap-content #section4 .content-inner {
      padding: 20px; }
      #wrap-content #section4 .content-inner article {
        background-size: 80px;
        background: none; }
        #wrap-content #section4 .content-inner article .frame {
          padding-left: 0px; }
          #wrap-content #section4 .content-inner article .frame p {
            font-size: 14px; }
          #wrap-content #section4 .content-inner article .frame input {
            width: 100%; }
          #wrap-content #section4 .content-inner article .frame .input-submit {
            flex: none; }
            #wrap-content #section4 .content-inner article .frame .input-submit button {
              min-width: 0;
              font-size: 14px;
              height: 40px;
              padding: 0 20px; }
          #wrap-content #section4 .content-inner article .frame .input-checkbox label {
            font-size: 14px; }
  #wrap-content .ce-gallery .ce-column .link a {
    font-size: 14px; }
  #wrap-content .ce-intext.ce-right .ce-gallery {
    float: none;
    margin: 0 0 10px 0; }
  #wrap-content .ce-intext.ce-left .ce-gallery {
    float: none;
    margin: 0 0 10px 0; }
  #wrap-content .wrap-center {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0px;
    display: block; }
    #wrap-content .wrap-center #list-category {
      margin: 20px 0; }
    #wrap-content .wrap-center #list-formation {
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center; }
      #wrap-content .wrap-center #list-formation .item {
        width: 100%;
        max-width: 430px; }
        #wrap-content .wrap-center #list-formation .item .content h2 {
          font-size: 18px; }
        #wrap-content .wrap-center #list-formation .item .content .category {
          font-size: 14px; }
        #wrap-content .wrap-center #list-formation .item .content .button {
          height: auto; }
          #wrap-content .wrap-center #list-formation .item .content .button > p {
            font-size: 12px; }
    #wrap-content .wrap-center #main-wrap .row-connexion > div {
      border: none; }
  #wrap-content .wrap-center #main-wrap header h2 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 10px 0 10px 50px; }
  #wrap-content .wrap-center #main-wrap h3 {
    font-size: 20px; }
  #wrap-content .wrap-center #main-wrap p {
    font-size: 14px; }
  #wrap-content .wrap-center #main-wrap li {
    font-size: 14px; }
  #wrap-content .wrap-center #main-wrap span {
    font-size: 14px; }
  #wrap-content .wrap-center #main-wrap a {
    font-size: 14px; }
    #wrap-content .wrap-center #main-wrap .tx-powermail .powermail_fieldwrap_type_html p {
      font-size: 14px; }
  #wrap-content .wrap-center #main-wrap .login-right {
    float: none;
    padding: 0; }
    #wrap-content .wrap-center #main-wrap #middle-office .table-middle .table-std th {
      font-size: 12px; }
    #wrap-content .wrap-center #main-wrap #middle-office .table-middle .table-std td {
      font-size: 12px; }
      #wrap-content .wrap-center #main-wrap #middle-office .table-middle .table-std td a {
        font-size: inherit; }
      #wrap-content .wrap-center #main-wrap #middle-office .table-middle .table-std td:first-child {
        width: 33.33%; }
  #wrap-content .wrap-center #main-wrap #middle-office form legend {
    font-size: 20px;
    padding-top: 0px; }
  #wrap-content .wrap-center #main-wrap #middle-office form .input-label {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; }
    #wrap-content .wrap-center #main-wrap #middle-office form .input-label label {
      width: 100%;
      margin: 0 0 10px 0; }
      #wrap-content .wrap-center #main-wrap #middle-office form .input-label > div .link-add {
        font-size: 16px; }
    #wrap-content .wrap-center #main-wrap #middle-office form .input-label .txt-pink {
      font-size: 14px; }
  #wrap-content .wrap-center #main-wrap #middle-office form .input-submit input {
    font-size: 16px; }
  #wrap-content .wrap-center #main-wrap #middle-office form .input-flex > div {
    width: 50%; }
  #wrap-content .wrap-center #main-wrap #middle-office form .input-flex .input-checkbox {
    width: 100%;
    padding: 0;
    margin: 5px 0 0 0; }
  #wrap-content .wrap-center #main-wrap #middle-office form .input-file span.bt-file {
    font-size: 14px;
    padding: 11px 20px; }
  #wrap-content .wrap-center #main-wrap #middle-office form .input-file span.txt-file {
    font-size: 14px;
    margin: 5px 0 0 0; }
  #wrap-content .wrap-center #main-wrap .detail-formation .right {
    max-width: 625px;
    width: 100%;
    margin: 0 auto 20px auto; }
  #wrap-content .wrap-center #main-wrap .detail-news .content-news {
    display: block; }
    #wrap-content .wrap-center #main-wrap .detail-news .content-news .left-news p {
      font-size: 14px; }
    #wrap-content .wrap-center #main-wrap .detail-news .content-news .right-news {
      width: 100%;
      margin: 0; }
  #wrap-content .wrap-center #right-wrap {
    margin: 0;
    width: 100%; }
    #wrap-content .wrap-center #right-wrap #lightbox-login {
      margin-top: 0;
      padding: 35px 20px; }
  #footer {
    padding: 20px 0; }
    #footer #top-footer {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      -o-flex-wrap: wrap;
      flex-wrap: wrap; }
      #footer #top-footer > div {
        width: 100%;
        margin: 10px 0; }
        #footer #top-footer #contact-footer p {
          margin: 5px 0; }
      #footer #top-footer #social-network-footer {
        text-align: center; }
    #footer #bottom-footer p {
      font-size: 12px; }
  #headband {
    overflow: visible; }
    #headband #main-title {
      position: static; }
      #headband #main-title h1 {
        font-size: 20px;
        padding: 10px 40px;
        border-bottom: 10px solid #51B849; }
    #headband #top-home .column:last-child .menu .link > a {
      top: 40px; }
  #headband #top-home .column .menu .link > a {
    top: 120px; }
  #headband #top-home .menu .link > a {
    width: 180px;
    top: 0;
    font-size: 14px;
    background-size: auto 20px !important; }
  #headband #top-home .menu .submenu {
    padding: 0 180px 0 0px;
    left: 0;
    width: auto;
    height: auto; }
    #headband #top-home .menu .submenu > ul {
      max-width: 100%; }
  #headband .content-inner {
    padding: 0 0px; }
  .breadcrumb {
    display: none; }
    .ui-selectmenu-button span.ui-selectmenu-text {
      padding: 10px 40px 10px 20px; }
    .ui-selectmenu-button span.ui-icon {
      right: 20px; }
  .tx-powermail .container-fluid {
    padding: 0; }
  form label {
    font-size: 14px; }
  form .layout2 {
    padding: 0;
    width: 100%; }
  form input {
    font-size: 14px;
    padding: 10px 20px; }
  form textarea {
    font-size: 14px;
    padding: 10px 20px; }
    form .input-flex > div {
      padding: 0 10px; }
  input[type="submit"] {
    font-size: 14px; }
  input[type="reset"] {
    font-size: 14px; }
  button {
    font-size: 14px; }
  .ui-dialog {
    min-width: 0; }
  #lightbox-login {
    max-width: 100%; }
  .lightbox-std {
    padding: 10px 20px; }
    .lightbox-std .content-lightbox h2 {
      font-size: 20px; }
    .lightbox-std .content-lightbox .subtitle {
      font-size: 14px; }
      .lightbox-std .content-lightbox .right-header p {
        font-size: 14px; }
    .lightbox-std .content-lightbox .info {
      padding: 20px 0; }
      .lightbox-std .content-lightbox .info p {
        font-size: 14px; }
    .lightbox-std .content-lightbox .bottom p {
      font-size: 14px; }
  .lightbox-std.lightbox-offer {
    padding: 40px 20px; }
  .lightbox-offer {
    width: 100% !important; }
  .bt-pdf {
    background-size: 20px;
    padding: 10px 0 10px 30px; } }

@media screen and (min-width: 500px) {
  #wrap-content #section3 .ce-gallery {
    float: right;
    width: 50%;
    /* #top-home { */
    /* .row { */
    /* .column { */
    /* height: 250px; */
    /* width: 50%; */
    /* } */
    /* } */
    /* } */ }
  #footer #top-footer > div {
    flex: 1;
    width: auto; } }

@media screen and (min-width: 320px) and (max-width: 699px) {
  .tx-powermail .input-flex {
    margin: 0; }
    .tx-powermail .input-flex > div {
      flex: none;
      padding: 0 !important;
      margin: 0 0 10px 0; } }

@media screen and (min-width: 700px) {
  #header #top-header #logo {
    width: auto; }
  #header #top-header #right-header {
    margin-right: 50px; }
    #header #top-header #right-header #button-header {
      display: block; }
  #wrap-content #section2 .row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
    #wrap-content #section2 .row > div {
      width: auto;
      flex: 1; }
  #wrap-content #section4 .content-inner article {
    background: url('../../../typo3conf/ext/pimentconfig/Resources/Public/Images/icon_newsletter.svg') no-repeat 0 top; }
    #wrap-content #section4 .content-inner article .frame {
      padding-left: 140px; }
  #wrap-content .wrap-center #list-formation .item {
    width: 50%; }
  #wrap-content .wrap-center #main-wrap #middle-office form .input-label label {
    width: 250px; }
    #wrap-content .wrap-center #main-wrap #middle-office form .input-label > div .link-add {
      margin-bottom: 20px; }
  .lightbox-std {
    padding: 30px 90px; } }

@media screen and (min-width: 750px) {
  #wrap-content .wrap-center #main-wrap .detail-formation .right {
    width: 40%;
    margin-left: 20px; }
  #wrap-content .wrap-center #main-wrap .login-right {
    width: 50%;
    float: right;
    padding-left: 20px; } }
