<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/Item.html
-->
<f:if condition="{settings.templateLayout} == '0'">
	<f:then>
	<div class="item articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}" itemscope="itemscope" itemtype="http://schema.org/Article">
		<div class="info">
			<f:if condition="{newsItem.bodytext}">
				<f:then>
					{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
				</f:then>
				<f:else>
					<h2>
						{newsItem.title}
					</h2>
				</f:else>
			</f:if>
		</div>
	</div>
	</f:then>
	<f:else>
	<div class="item articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}" itemscope="itemscope" itemtype="http://schema.org/Article">
		<n:excludeDisplayedNews newsItem="{newsItem}"/>
		
		<f:if condition="{newsItem.mediaPreviews}">
			<!-- media preview element -->
			<f:then>
				<div class="image">
					<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
						<f:alias map="{mediaElement: '{newsItem.mediaPreviews.0}'}">
							<f:if condition="{mediaElement.originalResource.type} == 2">
								<f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" />
							</f:if>
							<f:if condition="{mediaElement.originalResource.type} == 4">
								<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>
							</f:if>
							<f:if condition="{mediaElement.originalResource.type} == 5">
								<f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
							</f:if>
						</f:alias>
					</n:link>
				</div>
			</f:then>
		</f:if>
		<!-- teaser -->
		<div class="info">
			<p class="date"><f:format.date format="%d.%m.%Y">{newsItem.datetime}</f:format.date></p>
			<h2>
				<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
					<span itemprop="headline">{newsItem.title}</span>
				</n:link>
			</h2>
			<n:removeMediaTags>
			<f:if condition="{newsItem.teaser}">
				<f:then>
					<div itemprop="description">{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
				</f:then>
				<f:else>
					<div itemprop="description">{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
				</f:else>
			</f:if>
			</n:removeMediaTags>
			<p class="link">
				<n:link newsItem="{newsItem}" settings="{settings}">
					En savoir plus
				</n:link>
			</p>
		</div>
	</div>
	</f:else>
</f:if>
</html>