<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="bottom">
    <p>
        <f:translate key="tx_cfajob.offer.bottom_info_1" /> :<br>
        <f:if condition="{offer.email}">
            <f:then>
                <a href="mailto:{offer.email}">{offer.email}</a>
            </f:then>
            <f:else>
                <a href="mailto:{offer.company.email}">{offer.company.email}</a>
            </f:else>
        </f:if>
    </p>
</div>

</html>
