<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="input-flex">
    <div>
        <label for="nom"><f:translate key="tx_cfajob.user_form.last_name" /> *</label>
        <f:form.textfield id="nom" property="lastName" placeholder="{f:translate(key:'tx_cfajob.user_form.your_last_name')}" required="1" />
    </div>
    <div>
        <label for="prenom"><f:translate key="tx_cfajob.user_form.first_name" /> *</label>
        <f:form.textfield id="prenom" property="firstName" placeholder="{f:translate(key:'tx_cfajob.user_form.your_first_name')}" required="1" />
    </div>
</div>
<div class="input-flex">
    <div>
        <label for="email"><f:translate key="tx_cfajob.user_form.your_email" /> ({f:translate(key:'tx_cfajob.user_form.readonly')})</label>
        <f:form.textfield
                readonly="1"
                id="email"
                property="email"
                placeholder="{f:translate(key:'tx_cfajob.user_form.dummy_email')}"
                type="mail"
                additionalAttributes="{onBlur: 'checkAvailability()'}" />
        <span id="user-availability-status">{var}</span>
    </div>

    <div>
        <label for="password"><f:translate key="tx_cfajob.user_form.create_password" /> ({f:translate(key:'tx_cfajob.user_form.can_changed')})</label>
        <f:form.textfield id="password" name="password" type="password" />
    </div>
</div>


</html>