<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="name">
	<f:translate key="tx_cfajob_domain_model_frontenduser.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="firstName">
	<f:translate key="tx_cfajob_domain_model_frontenduser.first_name" />
</label><br />
	<f:form.textfield property="firstName" /><br />
<label for="lastName">
	<f:translate key="tx_cfajob_domain_model_frontenduser.last_name" />
</label><br />
	<f:form.textfield property="lastName" /><br />
<label for="titleCV">
	<f:translate key="tx_cfajob_domain_model_frontenduser.title_c_v" />
</label><br />
	<f:form.textfield property="titleCV" /><br />
<label for="about">
	<f:translate key="tx_cfajob_domain_model_frontenduser.about" />
</label><br />
	<f:form.textarea property="about" cols="40" rows="15" /><br />
<label for="company">
	<f:translate key="tx_cfajob_domain_model_frontenduser.company" />
</label><br />
	<f:form.textarea property="company" cols="40" rows="15" /><br />
<label for="contactPerson">
	<f:translate key="tx_cfajob_domain_model_frontenduser.contact_person" />
</label><br />
	<f:form.textarea property="contactPerson" cols="40" rows="15" /><br />
</html>