<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-cfajob" >
	<tr>
		<td>
			<f:translate key="tx_cfajob_domain_model_offer.name" />
		</td>
		<td>
		{offer.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cfajob_domain_model_offer.description" />
		</td>
		<td>
		{offer.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cfajob_domain_model_offer.email" />
		</td>
		<td>
		{offer.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cfajob_domain_model_offer.company" />
		</td>
		<td>
		{offer.company}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cfajob_domain_model_offer.contact_person" />
		</td>
		<td>
		{offer.contactPerson}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cfajob_domain_model_offer.site" />
		</td>
		<td>
		{offer.site}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cfajob_domain_model_offer.phone" />
		</td>
		<td>
		{offer.phone}
		</td>
	</tr>
</table>
</html>
